* {
    font-family: Roboto, sans-serif;
}

/*first section*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background-color: #1f2937;
    padding-left: 350px; padding-right:  350px;
    margin: 0;
    padding-bottom: 60px;

}

.header {
    display: flex;
    justify-content: space-between;

}

.links, a {
    display: flex;
    gap: 20px;
    justify-content: end;
    text-decoration: none;
    list-style: none;;
    color: #e5e7eb;
}

.header-1 {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
}

.h-logo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    width: 450px;
    margin-bottom: 5px;
}

.header-p {
    margin-top: 0px;
    width: 600px;

}

.header-p, .links {
    color: #e5e7eb;
    font-size: 18px;
}

.image {
    display: flex;
    aspect-ratio: 505/631;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid black; border: solid 1px black;
}

.image .ss-boxes img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    background-color: #1f2937;
    border: 1px, solid, white;
    border-radius: 6px;
    height: 30px;
    width: 90px;
    margin-bottom: 40px;
    color: white;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
    margin-right: 0px;
}
  
.hero-text {
    display: flex;
    flex-direction: column;
}

/*second section*/

.second-section {
    padding-bottom: 100px;
}

.ss-header {
    display: flex;
    justify-content: center;
    padding-left: 200px; padding-right:  200px;
    margin-top: 60px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.ss-boxes {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;
}

.ss-boxes img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #3882f6;
    border-radius: 10px;
    background-color: white;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.image-box-2 {
    aspect-ratio: 2/3;
}

.img-text {
    text-align: center;
    color: #1f2937;
    font-size: 16px;
}

/*third section*/

.third-section {
    background-color: #e5e7eb;
    padding-left: 200px; padding-right:  200px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    font-size: 28px;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
}
  
.quote-signature {
    align-self: flex-end;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}
  
/*fourth section*/

.fourth-section {
    display: flex;
    justify-content: center;
    padding-left: 200px; padding-right:  200px;
    margin-top: 60px; margin-bottom: 60px;
}

.fs-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    width: 1400px;
    padding: 40px 80px;
    border-radius: 10px;
    color: white;
}

.fs-text {
    display: flex;
    flex-direction: column;
}

.fs-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.fs-subtext {
    margin: 5px 0 0 0;
    font-size: 16px;
}

.button-2 {
    background-color: #3882f6;
    color: white;
    border: white 2px solid;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/*footer*/

.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

    